body {
  height: 100%;
  width: 100%;
  background: #f8e8e8;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}
head {
  display: none;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  margin: 30px 0 20px 0;
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  flex-wrap: wrap;
}

.main-nav a {
  font-size: 20px;
  padding: 0px 20px;
  border-right: 1px solid #52a2f4;
  margin-top: 10px;
}

.main-nav a:last-of-type {
  border-right: none;
}

a {
  color: #52a2f4;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: #52a2f4;
}

a:hover {
  color: #0077f1;
}

.about {
  color: black;
}
.hero-container {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  width: 550px;
  text-align: center;
  line-height: 50px;
}
.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

p {
  max-width: 800px;
  margin: 10px 0 10px 0;
  font-size: 18px;
  line-height: 180%;
}


li {
  list-style: none;
}

footer ul {
  display: flex;
  justify-content: center
}

.twitter-logo {
  height: 40px;
  width: 40px;
}

