<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "/css/normalize.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
    <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  </head>
  <body>
    <nav class='main-nav'>
      <a href="/index">about</a>
      <a href="/tarot">tarot</a>
      <a href="/sensitivity">sensitivity readings</a>
      <a href="/oral-history">oral history interviewing</a>
      <a href="https://transembassy.com">community work</a>

      <a href="https://transembassy.com/contact">contact</a>
    </nav>

    <header class='header'>
      <h1>{{page.title}}</h1>
    </header>

    <div class='hero-container'>
      <h2 class='hero-content'>{{ page.header }}</h2>
    </div>
    <div class="content-container">
      <div class='alignment-container'>
        {{ content }}
      </div>

    <footer>
      <ul>
        <li>
          <a target="_blank" href='https://twitter.com/james0ctober'><img class='twitter-logo' src="{{ "/assets/twitter.svg" }}"/></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
